<?xml version="1.0"?>
<model>
  <name>Honghu Wing 150kg V3</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Y Z / PX4 GZ migration</name>
  </author>
  <description>Honghu 3.96m 150kg model migrated from the reference Gazebo Classic model to PX4 GZ Sim.</description>
</model>
